<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="This is a simple to do app" />
    <title>To Do App</title>
  </head>
  <body>
    <style>
      {{BASE_CSS}}
      {{CSS}}
      HEADER_CSS
    </style>
    <div class="mainContainer">
      HEADER_HTML
      <h1>Done Items</h1>
      <div id="doneItems"></div>
      <h1>To Do Items</h1>
      <div id="pendingItems"></div>
      <input id="name" type="text" placeholder="create to do item" />
      <button class="actionButton" id="create-button" value="Send">
        Create
      </button>
    </div>
  </body>
  <script>
    {{JAVASCRIPT}}
  </script>
</html>
